/*
Author: Calendario, Mark Kenneth S. (BSCS 3-1N)
Description: This CSS file resets the margin, text and font styles, etc.
Date: April 3, 2024
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For Fonts */

@font-face {
  font-family: "Circular";
  src: url("../fonts/Geist-Regular.otf");
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/Geist-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/Geist-UltraBlack.otf");
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Circular", sans-serif;
}

a {
  color: #1e87ff;
}
